@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Oswald&family=Poppins&family=Ubuntu:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: rgb(13, 13, 13);
  margin-bottom: 5rem;
  overflow-x: hidden;
}
body::-webkit-scrollbar{
  display: none;
}
.logo{
  position: fixed;
  left: 3rem;
  top: 1.5rem;
  width: 7rem;
}
.logo1{
  display: none;
  position: fixed;
  left: 1rem;
  top: 1rem;
  width: 3.5rem;
}
.avatar{
  position: fixed;
  right: 1.5rem;
  top: 1rem;
  width: 3rem;
}
header{
  background: rgb(13, 13, 13);
  height: 5rem;
  position: sticky;
  top: 0;
  z-index: 10;
}
.banner{
  background-size:cover;
  height: 37vw;
  color: white;
  position: relative;
  line-height: 1.6;

}
.banner__container{
  background-color: rgb(0, 0, 0,0.5);
  height: 100%;
  padding:2rem 3.5rem;
  display: flex;
  flex-direction: column;
}
.banner__container>h1{
  font-size: 4vw;
  padding-top: 2rem;
  width: 50%;
  font-family: 'Montserrat',sans-serif;
  line-height: 1.1;
}
.grey__shade{
  background: linear-gradient(180deg,transparent,rgb(28, 28, 28,0.5),rgb(9, 9, 9));
  height: 5rem;
  position: absolute;
 bottom: 0rem;
  width: 100%;
}
.banner__btn{
  background:transparent;
  border: 1px solid white;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  font-family: 'Poppins',sans-serif;
  width: 7rem;
  letter-spacing: 1px;
  transition: 0.4s ease-in-out;
}
.banner__buttons{
  padding: 1.5rem 0;
}
.banner__btn:hover{
  background-color:white;
  color: black;
}
.content__row{
  margin:0 3rem 3rem;
}
.content{
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}
.content::-webkit-scrollbar{
  display: none;
}
.content__row img{
  width: 11rem;
  height: 16rem;
  margin-right: 1.5rem;
  transition: 0.4s ease-in-out;
}

.content__row h1{
  color: white;
  font-family: 'Roboto',sans-serif;
  margin: 1.5rem 0;
}
.description{
  width: 35%;
  font-family: 'Montserrat',sans-serif;
  overflow-y: scroll;
  font-size: 1vw;
  height: 5rem;
  overflow: scroll;
}
.description::-webkit-scrollbar{
  display: none;
}
.card__wrapper{
  position: relative;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  width: 11rem;
  height: 16rem;
  margin-right: 1.5rem;
}
.navlink{
  text-decoration: none;
  color: white;
  font-family: 'Montserrat',sans-serif;
  padding-right: 4rem;
}
.navlinks{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.mylist__container{
  padding: 1rem  3rem;
  width: 95%;
  margin: auto;

}
.browse__container{
  padding: 1rem 3rem;
}
.browse__container .list__container{
  justify-content: space-around;
}
.list__container{
  display:flex;
  justify-content: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
}
.list__container img{
  width: 12.5rem;
}
.list__container .card__wrapper{
  margin-top: 2rem;
}
.browse__head{
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
.browse__head h1{
  color: white;
}
.browse__head select{
  width: 10rem;
  padding:0.5rem 1rem;
  margin-right: 1rem;
  background-color: rgb(43, 43, 43);
  color: white;
  font-family: 'Montserrat',sans-serif;
  font-family: 1.2rem;
  cursor: pointer;
  border-radius: 0.25rem;
  border: 2px solid white;
}
.header__dropdown{
  position: fixed;
  top: 2rem;
  left: 6rem;
  background-color: transparent;
  border: none;
  color: white;
  padding:0 1rem;
  font-family: 'Montserrat',sans-serif;
  background: rgb(13, 13, 13);
  display: none;
  outline: none;
}
@media (max-width:965px){
    .description{
      font-size: 1.5vw;
      height: 3rem;
    }
    .banner{
      height: 50vw;
    }
    .content__row img,.card__wrapper{
      width: 9rem;
      height: 13rem;
    }
   .content__row h1{
    font-size: 1.25rem;
   }
   .banner__btn{
    font-size: 0.65rem;
    width: 5.5rem;
    padding: 0.5rem;
   }
   .list__container img{
    width: 9.5rem;
   }
   .mylist__container{
    padding: 1rem;
   }
   .navlink{
    padding-right: 1.5rem;
   }
   .logo{
      left: 1.5rem;
   }
}
@media (max-width:705px){
  .logo{
    display: none;
  }
  .logo1{
    display: inline;
  }
  .avatar{
    width: 2rem;
    top: 1.5rem;
  }
  .banner{
    height: 55vw;
  }
  .banner__container{
    padding: 0.5rem 1.5rem;
  }
  .banner__container>h1{
    font-size: 5vw;
  }
  .navlinks{
    display: none;
  }
  .header__dropdown{
    display: inline;
  }
  .list__container{
    justify-content: space-around;
  }
  .banner__btn{
    font-size: 0.5rem;
    width: 4.5rem;
    padding:0.35rem 0.25rem;
  }
  .content__row h1{
    font-size: 1rem;
  }
  .content__row{
    margin: 1rem;
  }
  .browse__container{
    padding: 1rem;
  }
}
@media (max-width:495px){
  .content__row h1{
    font-size: 0.875rem;
  }
  .card__wrapper,.card__wrapper img{
    width:7rem ;
    height:10rem;
  }
  .description{
   height: 3rem;
  }
  .banner__container>h1{
    font-size: 6vw;
    width: 60%;
  }
  .grey__shade{
    display: none;
  }
  header{
    height:3.5rem;
  }
  .banner__buttons{
    padding-right: 0.5rem;
  }
  .logo1{
    width: 2.5rem;
    top: 0.75rem;
  }
  .avatar{
    width: 1.5rem;
    top: 1rem;
  }
  .header__dropdown{
    top: 1.25rem;
    left: 3rem;
    font-size: 0.75rem;
  }
  .content_row h1{
    font-size: 0.75rem;
  }
}